*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header{
    width: 100%;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}

/*---Nav---*/

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 8%;
    transition: background 1s;
    background-color: black;
}

/*---Banner---*/

.banner img
{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---wrapper---*/

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.Boxes {
    padding-top: 70px;
    text-align: center;
    width: 200px;
    height: 150px;
    background-color: rgb(255,109,106, 0.5);
    outline: 2px solid black;
    border-radius: 10px;
}